<p id="notice"><%= notice %></p>

<p>
  <b>Long url:</b>
  <%= @url.long_url %>
</p>

<p>
  <b>Short url:</b>
  <%= @url.short_url_slug %>
</p>


<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
